@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  aside, nav, button, .no-print { display: none !important; }
  #print-area { border: none !important; }
  body { background: white !important; }
}
